---
import OpenInterest from "../components/OpenInterest.astro";
import { PositionStats } from "../components/PositionStats";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Rage Dashboard</title>
  </head>
  <body class="flex flex-col items-center py-20">
    <div class="space-y-20">
      <PositionStats client:load />
      <OpenInterest />
    </div>
  </body>
</html>
